<a href="https://colab.research.google.com/github/abithagit/pythonpgm/blob/main/CO_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#2
y1=int(input("enter the current year: "))
y2=int(input("enter the last year: "))
for i in range(y1,y2+1):
  if(i%4==0 and i%100!=0 or i%400==0):
    print(i)
  i=i+1

enter the current year: 2021
enter the last year: 2031
2024
2028

In [ ]:
#4
def word_count(str):
    counts = dict()
    words = str.split()
 
    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1
 
    return counts
 
print( word_count("haii hello how are you are you ok" ) )

{'haii': 1, 'hello': 1, 'how': 1, 'are': 2, 'you': 2, 'ok': 1}

In [ ]:
#5
list=[]
for i in range(5):
  x=int(input("enter the nmbr: "))
  if x<100:
    list.append(x)
  else:
    list.append("over")
print(list)

enter the nmbr: 3
enter the nmbr: 90
enter the nmbr: 108
enter the nmbr: 223
enter the nmbr: 89
[3, 90, 'over', 'over', 89]

In [ ]:
#7
l1=[20,70,40,90]
l2=[60,90,50,30,20]
print("len of l1",len(l1))
print("len of l2",len(l2))
total=sum(l1)
print("sum of l1",total)
total=sum(l2)
print("sum of l2",total)
l3=[]
for nmbr in l1:
  if nmbr in l2:
    if nmbr not in l3:
      l3.append(nmbr)
print(l3)

len of l1 4
len of l2 5
sum of l1 220
sum of l2 250
[20, 90]

In [ ]:
#10
import math
radius=int(input("enter radius of the circle: "))
area=math.pi*radius*radius
print("area of the circle is: ",area)

enter radius of the circle: 6
area of the circle is:  113.09733552923255

In [ ]:
#11
n1=int(input("enter n1: "))
n2=int(input("enter n2: "))
n3=int(input("enter n3: "))
if n1>n2:
  if n1>n3:
    print("biggest nmbr is: ",n1)
  else:
     print("biggest nmbr is: ",n3)
elif n2>n3:
    print("biggest nmbr is: ",n2)
else:
    print("biggest nmbr is:",n3)

enter n1: 44
enter n2: 87
enter n3: 63
biggest nmbr is:  87

In [ ]:
#20
list=[1,2,3,4,5,6,7,8,9]
for i in list:
 if i%2==0:
  list.remove(i) 
print(list)

[1, 3, 5, 7, 9]

In [ ]:
#19
import math
a=int(input("enter nmbr 1: ")) 
b=int(input("enter nmbr 2: "))
gcd=math.gcd(a,b)
print(gcd)

enter nmbr 1: 7
enter nmbr 2: 9
1

In [ ]:
#3.a
list=[8,5,-2,6,-7,-5,3,0,-9]
nwlist=[x for x in list  if x>0]
print(nwlist)

[8, 5, 6, 3]

In [ ]:
#3.b
N=int(input("enter nmbr of elements: "))
list=[]
for x in range (N):
  x=int(input("enter nmbr: "))
  list.append(x)
print(list)
sqlist=[x**2 for x in list]
print(sqlist)

enter nmbr of elements: 5
enter nmbr: 3
enter nmbr: 6
enter nmbr: 9
enter nmbr: 8
enter nmbr: 4
[3, 6, 9, 8, 4]
[9, 36, 81, 64, 16]

In [ ]:
#3.c
word="orange"
vowels="aeiou"
list=[x for x in word if x in vowels]
print(list)

['o', 'a', 'e']

In [ ]:
#3.d
word="flower"
list=[ord(x) for x in word]
print(list)

[102, 108, 111, 119, 101, 114]

In [ ]:
#6
list = ["a", "b", "a", "c"]
occ=list.count("a" )
print(occ)

2

In [4]:
#8
w=input("enter the string")
start=w[0]
s=w.replace(start,"$")
print(start+s[1:])

enter the stringonion
oni$n

In [8]:
#9
def stringch(str1):
  return str1[-1:] + str1[1:-1] + str1[:1]
print(stringch('abcd'))
print(stringch('1234'))

dbca
4231