<a href="https://colab.research.google.com/github/abithagit/pythonpgm/blob/main/CO_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1
n=int(input("enter nmbr: "))
fact=1
for i in range(1,n+1):
  fact=fact*i
print("fact of",n,"is",fact)

enter nmbr: 6
fact of 6 is 720

In [ ]:
#3
list=[1,2,3,4,5]
print(sum(list))

15

In [ ]:
#11
 
r_area = lambda len, ht : len*ht
 print("Area of Rectangle (30,20) is:", r_area(30,20))
 
s_area = lambda len, ht : len*ht
print("Area of Square (5,5) is:", s_area(5,5))
 
a = 5
b = 6
c = 7
s = (a + b + c) / 2
t_area = (s*(s-a)*(s-b)*(s-c)) 
print('The area of the triangle is ', t_area)

Area of Rectangle (30,20) is: 600
Area of Square (5,5) is: 25
The area of the triangle is  216.0

In [ ]:
 
#2
n=int(input("enter limit"))
a=0
b=1
print (a) 
print (b) 
for i in range(2, n) :
   sum=a+b
   print(sum) 
   a=b
   b=sum

enter limit10
0
1
1
2
3
5
8
13
21
34

In [ ]:
#10
n=int(input("enter the number:"))
print("the factors of",n,"are:")
for i in range(1,n+1):
  if n%i == 0:
    print(i)

enter the number:24
the factors of 24 are:
1
2
3
4
6
8
12
24

In [ ]:
#9
y=4
i="*"
for x in range(1):
  for j in range(6):
    print(i*j)
while y>=1:
    print(y*i)
    y=y-1

*
**
***
****
*****
****
***
**
*

In [ ]:
#8
list=[]
n=int(input("enter the number of words in the list:"))
for i in range(n):
  x=input("enter the word:")
  list.append(x)
print(list)
length=len(list[0])
temp=list[0]
for i in list:
  if len(i) > length:
    length=len(i)
    temp=i
print("the longest word is of length",length)

enter the number of words in the list:3
enter the word:Flower
enter the word:Color
enter the word:Vegetables
['Flower', 'Color', 'Vegetables']
the longest word is of length 10

In [ ]:
#7
str=input("enter the string")
if str.endswith("ing"):
  str=str+"ly"
else:
  str=str+"ing"
print(str)

enter the stringEating
Eatingly

In [ ]:
#6
str=input("enter the string")
s={}
for i in str:
  if i in s:
    s[i]+=1
  else:
    s[i]=1
print("count of all characters are: ",s)

enter the stringHello
count of all characters are:  {'H': 1, 'e': 1, 'l': 2, 'o': 1}

In [ ]:
#5
n=int(input("enter the number of steps:"))
for i in range(1,n+1):
  for j in range(1, i+1):
    print(i*j,end=' ')
  print("\n")

enter the number of steps:4
1

2 4

3 6 9

4 8 12 16

In [ ]:
 
#4
for i in range(1000,10000):
  for j in range(32,100):
    if i == j*j:
      string = str(i)
      if int(string[0])%2 == 0 and int(string[1])%2 == 0 and int(string[2])%2 == 0 and int(string[3])%2 == 0:
        print(i)